:root {
	--shadow-color: 218deg 100% 11%;
	--shadow-elevation-high: 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.34),
		0.1px 2.3px 2.6px -0.4px hsl(var(--shadow-color) / 0.34),
		0.2px 4.2px 4.7px -0.7px hsl(var(--shadow-color) / 0.34),
		0.3px 6.9px 7.8px -1.1px hsl(var(--shadow-color) / 0.34),
		0.4px 11.1px 12.5px -1.4px hsl(var(--shadow-color) / 0.34),
		0.6px 17.3px 19.5px -1.8px hsl(var(--shadow-color) / 0.34),
		1px 26.4px 29.7px -2.1px hsl(var(--shadow-color) / 0.34),
		1.4px 38.8px 43.7px -2.5px hsl(var(--shadow-color) / 0.34);
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:700');
*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background: #2b323b;
	color: #fff8e6;
	display: flex;
	font-family: 'Quicksand', sans-serif;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}

.card-container,
.card,
.front,
.back {
	height: 280px;
	width: 200px;
}

.card-container {
	transform: scale(0.8);
	position: relative;
	perspective: 90vmin;
	perspective-origin: bottom;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.card-container:hover .card {
	box-shadow: 1vmin 5vmin 4vmin rgba(0, 0, 0, 0.15),
		0.5vmin 4vmin 3vmin rgba(0, 0, 0, 0.1);
	transform: rotateX(0deg) rotateZ(0deg) translateZ(10vmin) rotateY(0deg)
		rotateX(0deg);
}
.card-container.flipped:hover .card {
	box-shadow: -1vmin 5vmin 4vmin rgba(0, 0, 0, 0.15),
		-0.5vmin 4vmin 3vmin rgba(0, 0, 0, 0.1);
	transform: rotateX(0deg) rotateZ(0deg) rotateY(180deg) translateZ(-10vmin)
		rotateX(0deg);
}
.card-container.flipped .card {
	box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.19),
		-1vmin 1vmin 0.5vmin rgba(0, 0, 0, 0.23);
	transform: rotateX(0deg) rotateZ(0deg) rotateY(180deg);
}
.card-container .card {
	background: #fff8e6;
	border-radius: 2vmin;
	box-shadow: 1vmin 1vmin 2vmin rgba(0, 0, 0, 0.19),
		1vmin 1vmin 0.5vmin rgba(0, 0, 0, 0.23);
	cursor: pointer;
	position: relative;
	transition: transform 0.35s ease-out, box-shadow 0.35s ease-out;
	transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
	transform-style: preserve-3d;
	user-select: none;
}
.card-container .card .front,
.card-container .card .back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.card-container .card .front {
	z-index: 2;
	transform: rotateY(0deg);
}
.card-container .card .back {
	transform: rotateY(180deg);
}

.card-svg {
	position: absolute;
	top: 0;
	left: 0;
	fill: darkcyan;
	stroke: #fff8e6;
	stroke-width: 6;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.card-svgg symbol {
	overflow: visible;
}
.card-svg text {
	font-size: 3rem;
	text-anchor: middle;
	alignment-baseline: central;
	stroke-width: 2;
	fill: currentColor;
}
.card-svg text.underline {
	text-decoration: underline;
}
.card-svg .suit {
	stroke-width: 4;
}
.card-svg #card-back {
	fill: #a34729;
}
.card-svg #card-back circle {
	fill: #fff8e6;
}
.card-svg.black {
	color: #363430;
	stroke: #363430;
}
.card-svg.red {
	color: #a34729;
	stroke: #a34729;
}

h1 {
	font-size: 5vmin;
}

.o-container {
	width: 100%;
	height: 100%;
	overflow: scroll;
}

.c-hidden {
	display: none;
}

.c-playboard {
	display: grid;
	width: 100vw;
	height: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	justify-content: center;
	align-items: center;
	transition: 1s ease-in-out;
	margin: 0 auto;
}
.c-cards {
	display: none;
}

@media (min-width: 765px) {
	.c-playboard {
		display: grid;
		width: 100vw;
		height: 100%;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		justify-content: center;
		align-items: center;
	}
	.c-cards {
		margin: 0 auto;
		display: flex;
		flex-wrap: nowrap;
		justify-content: baseline;
		position: absolute;
		bottom: 0px;
		right: 25%;
		left: 50%;
		margin-left: -150px;
	}
}

.c-playboard__item {
	height: 300px;
	width: 200px;
	margin: 0 auto;
	transform: translateY(0);
	opacity: 1;
}
.c-playboard__item.c-hide {
	opacity: 0;
	transform: translateY(300px);
	transition: all 0.6s ease-out;
}

.c-img {
	height: 280px;
	width: 200px;
}

.card-container2 {
	margin: 0;
	transform: translateX(-100) scale(0.8);
	margin-right: -130px;
	border-radius: 54px;
}
.card-container2 .card {
	box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.19),
		-1vmin 1vmin 0.5vmin rgba(0, 0, 0, 0.23);
	transform: rotateX(0deg) rotateZ(0deg) rotateY(180deg);
}
.card-container2:hover {
	margin: 0;
	transform: scale(0.9);
	transition: ease-in-out 0.5s;
	margin-right: -180px;
	z-index: 100;
}
.card1 {
	transform: rotate(-20deg) scale(0.8) translatey(60px);
	transition: ease-in-out 0.5s;
	order: 1;
	z-index: 10;
}
.card1:hover {
	margin: 0;
	transform: scale(1);
	transition: ease-in-out 0.5s;
	margin-right: -180px;
	z-index: 100;
}
.card2 {
	transform: rotate(-15deg) scale(0.8) translatey(30px);
	transition: ease-in-out 0.5s;
	order: 2;
	z-index: 20;
}
.card2:hover {
	margin: 0;
	transform: scale(1);
	transition: ease-in-out 0.5s;
	margin-right: -180px;
	z-index: 100;
}
.card3 {
	transform: rotate(-10deg) scale(0.8) translatey(10px);
	transition: ease-in-out 0.5s;
	order: 3;
	z-index: 50;
}
.card3:hover {
	margin: 0;
	transform: scale(1);
	transition: ease-in-out 0.5s;
	margin-right: -180px;
	z-index: 100;
}
.card4 {
	transform: rotate(-5deg) scale(0.8) translatey(5px);
	transition: ease-in-out 0.5s;
	order: 4;
	z-index: 60;
}
.card4:hover {
	margin: 0;
	transform: scale(1);
	transition: ease-in-out 0.5s;
	margin-right: -180px;
	z-index: 100;
}
.card5 {
	transform: rotate(5deg) scale(0.8) translatey(5px);
	transition: ease-in-out 0.5s;
	order: 5;
	z-index: 60;
}
.card5:hover {
	margin: 0;
	transform: scale(1);
	transition: ease-in-out 0.5s;
	margin-right: -180px;
	z-index: 100;
}
.card6 {
	transform: rotate(10deg) scale(0.8) translatey(10px);
	transition: ease-in-out 0.5s;
	order: 6;
	z-index: 60;
}
.card6:hover {
	margin: 0;
	transform: scale(1);
	transition: ease-in-out 0.5s;
	margin-right: -180px;
	z-index: 100;
}
.card7 {
	transform: rotate(15deg) scale(0.8) translatey(30px);
	transition: ease-in-out 0.5s;
	order: 7;
	z-index: 70;
}
.card7:hover {
	margin: 0;
	transform: scale(1);
	transition: ease-in-out 0.5s;
	margin-right: -180px;
	z-index: 100;
}

.card8 {
	transform: rotate(20deg) scale(0.8) translatey(70px);
	transition: ease-in-out 0.5s;
	order: 8;
	z-index: 80;
}
.card8:hover {
	margin: 0;
	transform: scale(1);
	transition: ease-in-out 0.5s;
	margin-right: -180px;
	z-index: 100;
}
.front {
	display: flex;
	justify-content: center;
}
.card-container2:hover .card {
	box-shadow: 1vmin 5vmin 4vmin rgba(0, 0, 0, 0.15),
		0.5vmin 4vmin 3vmin rgba(0, 0, 0, 0.1);
	transform: rotateX(0deg) rotateZ(0deg) translateZ(20vmin) rotateY(0deg)
		rotatey(10deg);
}
.card-container2.flipped:hover .card {
	box-shadow: -1vmin 5vmin 4vmin rgba(0, 0, 0, 0.15),
		-0.5vmin 4vmin 3vmin rgba(0, 0, 0, 0.1);
	transform: rotateX(0deg) rotateZ(0deg) rotateY(180deg) translateZ(-20vmin)
		rotateX(0deg);
}
.card-container2.flipped .card {
	box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.19),
		-1vmin 1vmin 0.5vmin rgba(0, 0, 0, 0.23);
	transform: rotateX(0deg) rotateZ(0deg) rotateY(180deg);
}
.card-container2 .card {
	background: #fff8e6;
	border-radius: 2vmin;
	box-shadow: 1vmin 1vmin 2vmin rgba(0, 0, 0, 0.19),
		1vmin 1vmin 0.5vmin rgba(0, 0, 0, 0.23);
	cursor: pointer;
	position: relative;
	transition: transform 0.35s ease-out, box-shadow 0.35s ease-out;
	transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
	transform-style: preserve-3d;
	user-select: none;
}
.card-container2 .card .front,
.card-container2 .card .back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.card-container2 .card .front {
	z-index: 2;
	transform: rotateY(0deg);
}
.card-container2 .card .back {
	transform: rotateY(180deg);
}

.remove-from-field {
	transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
}

.c-mobile-nav {
	position: fixed;
	width: 250px;
	height: 100vh;
	left: 0%;
	z-index: 1000;
	background-color: lightblue;
}
.c-mobile-nav__item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	height: 53px;
	margin-top: 4px;
	margin-bottom: 4px;
	box-shadow: var(--shadow-elevation-high);
}
.c-nav__title {
	font-size: 20px;
	font-weight: 600;
}
.c-close {
	transform: scale(0.6);
}
.c-nav__close {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 8px;
}
.c-nav__item-title {
	font-size: 16px;
	font-weight: 600;
}
.c-nav__img {
	height: 40px;
	width: 40px;
}

.c-nav-trigger {
	display: flex;
	align-items: flex-end;
	justify-content: end;
	margin-bottom: 24px;
	width: 24px;
	height: 24px;
}

.c-nav-trigger__svg {
	fill: white;
	height: 100%;
}

.has-mobile-nav .c-blur {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	backdrop-filter: blur(2px);
}

@media (min-width: 986px) {
	.c-mobile-nav {
		display: none;
	}
	.c-blur {
		display: none;
	}
}
